/* @import "/css/reset.css";
@import "/css/header.css";
@import "/css/main.css";
@import "/css/footer.css"; */

:root {
  /* =============== color fone =================== */
  --primary-color-fone: white;
  --secondary-color-fone: rgb(254, 254, 254);
  /* =============== color text =================== */
  --color-primary-white: white;
  --color-h1-big: #d67e34;
  --color-span-number: #bc9060;
  --color-bg-button: #ff7400;
  /* ========================================== */
  --font-wiew-regular: 400;
  --font-wiew-semibold: 600;
  --font-weight-bold: 700;
  /* ================ size text =============== */
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-24: 24px;
  /* ============== font-family ================== */
  --prymary-font-family: "Tinos", serif;
  --second-font-family: "Open Sans", sans-serif;
  --text-font-family: "Cookie", cursive;
}
/* font-family: 'Cookie', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Tinos', serif; */

/* =============================================================== */

body {
  margin: 0;
}

.wrapper {
}
.header {
  /* max-width: 1440px;
  max-height: 800px; */
  background: url(../img/heroImage.png) center / cover no-repeat;
  width: 100%;
  height: 100%;
}
.container {
  max-width: 1128px;
  padding: 0 10px;
  margin: 0 auto;
}
/* -----------------------------------------------header__line--------------------------------- */
.header__line {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  margin-right: 260px;
}

.header-nav ul {
  display: flex;
}
.header-nav ul li {
  margin-right: 25px;
}
.header-nav a {
  font-size: 14px;
  font-family: var(--second-font-family);
  color: var(--color-primary-white);
  font-weight: var(--font-weight-bold);
  transition: 1s ease;
}

.header-nav a:hover {
  color: rgb(205, 44, 44);
}

.header-korzina {
  margin-right: 25px;
}
.header-line {
  margin-right: 34px;
}
.header-phone {
  position: relative;
  min-width: 165px;
}

.phone-number span {
  position: absolute;
  margin-left: 30px;
  top: 0;
  font-size: 18px;
  font-family: var(--second-font-family);
  color: white;
  font-weight: var(--font-weight-bold);
}
.phone-title p {
  font-size: 14px;
  font-family: var(--second-font-family);
  color: var(--color-primary-white);
  font-weight: var(--font-wiew-regular);
  line-height: 1.4;
  margin: 5px 0 0 5px;
}
.btn {
  font-size: 14px;
  padding: 14px 18px;
  margin-left: 45px;
  font-family: var(--second-font-family);
  color: var(--color-primary-white);
  font-weight: var(--font-weight-bold);
  background-color: var(--color-bg-button);
  transition: 1s ease;
}
.btn:hover {
  background-color: #793a07;
  border-radius: 7px;
}
/* ---------------------------------header__main------------------------------------- */
.header__main {
  max-width: 556px;
  /* border: 1px solid white; */
  text-align: center;
  margin-top: 160px;
}

.main-title {
  font-size: 50px;
  font-weight: var(--font-wiew-regular);
  font-family: var(--prymary-font-family);
  color: var(--color-h1-big);
}
.main-title-big {
  font-size: 80px;
  font-weight: 400;
  font-family: var(--prymary-font-family);
  color: var(--color-h1-big);
}
.main-text {
  position: relative;
  font-size: 18px;
  font-weight: var(--font-wiew-regular);
  font-family: var(--second-font-family);
  color: var(--color-primary-white);
  margin: 12px 0 21px 0;
  /* text-align:none; */
}

.main-text p::after {
  position: absolute;
  content: "";
  background: var(--primary-color-fone);
  width: 61px;
  height: 2px;
  top: 12px;
  margin-left: 10px;
}
.main-text p::before {
  position: absolute;
  content: "";
  background: var(--primary-color-fone);
  width: 61px;
  height: 2px;
  top: 12px;
  left: 123px;
}

.main-btn {
  font-size: 14px;
  font-weight: var(--font-weight-bold);
  font-family: var(--second-font-family);
  color: var(--color-primary-white);
  background-color: var(--color-bg-button);
  padding: 14px 28px;
  transition: 1s ease;
  margin-bottom: 230px;
}
.main-btn:hover {
  background-color: #793a07;
  border-radius: 7px;
}
/*------------------------  CARDS ------------------------- */
.cards {
  /* margin-bottom: 150px; */
}
.container {
}
.cards__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 10px;
}
.card {
  position: relative;
  margin-top: -80px;
  z-index: 10;
  background: var(--primary-color-fone);
  flex: 0 1 349px;
  text-align: center;
  box-shadow: 10px 10px 40px 10px #0000002f;
  margin-bottom: 150px;
}
.card-icon {
  margin: 48px 0 4px 0;
}
.card-title {
  margin-bottom: 20px;
  font-family: var(--prymary-font-family);
  font-weight: var(--font-wiew-regular);
  font-size: 26px;
  color: #2c2c2c;
}
.card-title span {
  color: var(--color-span-number);
}
.card-text {
  font-family: var(--prymary-font-family);
  font-weight: var(--font-wiew-regular);
  font-size: 26px;
  color: #656363;
  margin-bottom: 20px;
}
/* ------------------------ main-story  ------------------------------ */
.main {
}
.main__story {
}
.container {
}
.story-row {
  display: flex;
  justify-content: space-between;
}
.story-info {
  max-width: 444px;
  text-align: center;
}
.story-info-title {
  margin: 16px 0;
}
.story-info-title p {
  font-size: 54px;
  font-weight: var(--font-wiew-regular);
  font-family: var(--prymary-font-family);
}
.story-info-title span {
  color: var(--color-span-number);
}
.story-info-text {
  font-size: 16px;
  font-family: var(--second-font-family);
  font-weight: var(--font-wiew-regular);
  margin-bottom: 90px;
}
.story-info-number {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.number span {
  font-weight: var(--font-wiew-regular);
  color: var(--color-span-number);
  font-size: 40px;
}
.number h3 {
  font-weight: var(--font-wiew-regular);
  font-size: 20px;
  color: black;
}
.story-img {
}
.story-bg {
  background: url(../img/bg.png) center / cover no-repeat;
  margin: 122px 0 132px 0;
  padding: 80px 0 140px 0;
}
.story-bg-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.story-bg-info{
max-width: 601px;
}
.story-bg-info p {
  font-size: 52px;
  font-weight: var(--font-wiew-regular);
  font-family: var(--prymary-font-family);
  color: var(--color-h1-big);
  margin-bottom: 20px;
}

.story-bg-info h2 {
  font-size: 24px;
  font-weight: var(--font-weight-bold);
  font-family: var(--second-font-family);
  color: var(--color-primary-white);
}
.story-bg-button{

}
.story-bg-button button {
  background: var(--color-bg-button);
  font-size: 14px;
  padding: 14px 18px;
  font-family: var(--second-font-family);
  color: var(--color-primary-white);
  font-weight: var(--font-weight-bold);
  background-color: var(--color-bg-button);
  transition: 1s ease;
}
.story-bg-button button:hover {
  background-color: #793a07;
  border-radius: 7px;
}
